.page404 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50vh 5px 0;
  flex-direction: column;
  gap: 2vh;
  font-size: 2rem;

  h2 {
    line-height: 2rem;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
}