.menu
  margin: 20px
  font-size: 1.25rem

  .items
    display: flex
    justify-content: center
    gap: 30px

.link
  color: #fff
  padding: 10px

  &:hover:not(.active)
    text-decoration: underline #d00000cd

.active
  color: #d00000cd
