* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.api {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 15px;
}

.search {
  text-align: center;
  margin-top: 10px;
}

.query {
  font-size: 3rem;
}