* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.api {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.search {
  text-align: center;
  margin-top: 10px;
}

.query {
  font-size: 3rem;
}

.api-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90vw;
}

.api-item video {
  width: 100%;
}

.error-button {
  margin: 0 10px 0 auto;
}

.manual-error {
  margin-top: 10px;
  text-align: center;
}